.roadmap {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.roadmap div{
    width: 220px;
}

.main {
    min-height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
    position: relative;
    gap: 40px;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    filter: brightness(75%);
    background-position: center;
    background: url('./../../../public/images/mainbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 767px) {
    .bg {
        background:  url('./../../../public/images/mainbg-767.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (max-width: 600px) {
    .main {
        height: 100%;
        padding: 65px 0;
    }
}