
.burger__key {
    border-bottom: 1px dashed #7e7e7e;
    padding-bottom: 3px;
    color: var(--secondary-text);
}

.burger__value {
    color: #fff;
}

.burger__order-details {
    padding: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
}

.burger__order-details-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 0;
    width: 140px;
}

.burger__order-details li{
    list-style: none;
}

.burger__price {
    font-size: large;
}