.order-list {
    background-color: var(--secondary-bg);
    color: var(--primary-text);
    margin: 0;
    padding: 20px;
    border-radius: 4px;
    width: 100%;
}

.order-list a {
    text-decoration: none;
    color: var(--primary-text);
}

.order-list h4 {
    border-bottom: #eee solid 1px;
    padding-bottom: 4px;
}

.main {
    min-height: calc(100vh - 55px);
}
