.order-list__item {
    background-color: var(--secondary-bg);
    border-radius: 4px;
}

.order-list__item a {
    text-decoration: none;
    color: var(--secondary-text);
}

.order-list__item a:hover {
    text-decoration: underline;
    color: var(--primary-text);
}
