body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #eee;
}

.burger__total {
    position: relative;
}

.burger__total img {
    position: absolute;
    transition: 0.2s;
    transition-timing-function: ease-in;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 0.2s;
}

      @keyframes add {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
