:root {
  --primary-text: #fff;
  --secondary-text: #c3c3c3;
  --primary-bg: #292929;
  --secondary-bg: #464646;
}

main {
    padding-top: 55px;
}

.info-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@import url(./features/burger/burgerConstructor.css);
@import url(./features/order/order.css);
@import url(./features/order/OrderItem/orderItem.css);
@import url(./pages/Main/main.css);
@import url(./components/BurgerImage/BurgerImage/burgerImage.css);
